@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

p, blockquote {
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

